<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VITHUB- A portal for study materials</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="/css/styles_cs.css" rel="stylesheet" />
    <style>
        .btn-upload {
            margin-top: 10px;
        }
        
        .msg {
            margin-left: 25%;
            margin-top: 10px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/dashboard">VITHUB </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#upload">Upload</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%=username%>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout"> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" id="upload">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Database Management System</h1>

                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        <form class="form-horizontal" role="form" method="post" action="/dashboard/cs/dbms" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" name="dataFile" accept="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="filenamess" placeholder="Enter file name" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9 btn-upload">
                                    <button id="btn-signup" type="submit" class="btn btn-info"><i
                                                                                        class="icon-hand-right"></i>
                                                                                &nbsp Upload</button>
                                </div>
                                <% if (message.length> 0) { %>
                                    <div class="alert-danger col-md-3 msg">
                                        <%= message %>
                                    </div>
                                    <% } %>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </header>


        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <table class="table table-striped table-hover admin">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File Name</th>
                            <th>View</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                        <tr>
                            <td>
                                <%=i%>
                            </td>
                            <td>
                                <%=data.name %>
                            </td>
                            <td>
                                <form action="/dashboard/cs/dbms/view" method="POST">
                                    <button name="butt" value='<%=data.id%>+<%=data.name%>+<%=data.mimeType%>'>View</button>
                                </form>
                            </td>
                            <td><a href="/dashboard/cs/dbms/view" onclick="view()">Download</a></td>
                        </tr>
                        <% i++; }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="7">No Data Found</td>
                                </tr>
                                <% } %>
                </table>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Made with ❤️ for all the VITIANS</div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    </iframe>
</body>


</html>